h3 {
  padding: 0px 0px 0px 20px;
}

li {
  padding: 5px 0px;
}

#navContainer {
  height: 6%;
  width: 100vw;

  position: fixed;
  top: 0;
  z-index: 1;

  background: rgb(242, 219, 174, 0.9);
}

#btnContainers {
  width: 100%;
  display: flex;
  top: 50%;
  transform: translate(0%, 50%);

  justify-content: right;
}

#mainSection {
  margin-top: 3%;
  font: "Times New Roman";
}

#mainHeader {
  display: flex;
  margin: 10px 0;
}

#mainSubheader {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: 26%;
}

#title {
  font-weight: bold;
  font-size: 30px;
}

#authors {
  font-size: 20px;
  text-align: center;
}

#vtLogo {
  width: 10%;
}

#selectList {
  display: flex;
  flex-direction: column;
}

.models {
  font-weight: bold;
}

.img {
  width: 50%;
}

.imgSub {
  width: 100%;
}

.imgContainer {
  width: 100%;
  text-align: center;
  padding: 20px 0px 0px 0px;
  justify-content: center;
}

.iouEq {
  width: 12%;
}

.alt {
  background-color: rgb(242, 219, 174);
}

.header {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0;
}

.body {
  font-size: 16px;
  padding: 0px 20px 20px 20px;
}

.btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  margin-right: 20px;
  font-family: "Times New Roman";
  font-size: 15px;
}

.btn:hover {
  color: rgb(165, 120, 36);
  transform: scale(1.05);
}

.refOL {
  list-style-type: none;
}
.refLI:before {
  content: "[" counter(section, list) "] ";
}
.refLI {
  counter-increment: section;
}
